/* Background */
.circles {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    filter: blur(2em);
    animation:circle-one 20s linear infinite both;
  }
  
  .circles * {
    position: absolute;
    width: 50%;
    height: 50%;
    animation:circle-one 100s linear infinite both;
  }
  
  .circles .circle-one {
    top:0%;
    left: 0%;
  }
  
  /*@keyframes circle-one {
    from {
      transform:rotate(0deg) scale(3);
    }
    to {
      transform:rotate(360deg) scale(3);
    }
    
  }*/
  
  .circles .circle-two {
    bottom:0%;
    right: 0%;
  }
  
  .circles .circle-three {
    bottom:0%;
    left: 0%;
  }
  
  .circles .circle-four {
    top:0%;
    right: 0%;
  }
  
  
  