.skillSection .skillCardsList{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .skillSection .skillCardsList .card {
    width: 300px;
    height: 300px;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    align-items: center;
    justify-content:first baseline;
    border: none;
  
  }
    
  .skillSection .skillCardsList .card h4{
    margin-top: 15px;
  }
  
  .skillSection .skillCardsList .card .skillImg {
    width: fit-content;
    height: fit-content;
  }
  
  .skillSection .skillCardsList .skillNames {
    width: 300px;
    height: 80px;
    display: inline-table;
    margin-top: 20px;
    
  }