/* Custom Fonts */
@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Book.ttf');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  background: rgb(53,79,82);
  background: linear-gradient(0deg, rgba(53,79,82,1) 0%, rgba(47,62,70,1) 100%);
  color: #fff;
  font-family: 'Centra', sans-serif !important;
}

h1, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #ffffff;
}

h2 {
  text-align: center;
}

.App {
  text-align: center;
}


